<!DOCTYPE html>
<html>
<head>
  <title>Flynn auto scale</title>
  <%= stylesheet_link_tag    "flynn_auto_scale/application", media: "all" %>
  <%= javascript_include_tag "flynn_auto_scale/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
